*console.log
*/.vagrant/*
*.log
.DS_STORE

vagrant/salt/*/datapackage
!vagrant/salt/*/datapackage/.gitkeep

vagrant/pillar/ssl/init.sls

# Folder struct for NFS sharing
server_data/*
!server_data/*.gitkeep