*console.log
*/.vagrant/*
*.log
.DS_STORE

datapackage/*
!datapackage/.gitkeep

vagrant/pillar/ssl/init.sls

# Folder struct for NFS sharing
shared/*
!shared/*.gitkeep
vagrant/salt/ukmbox-main/files/uploads.tar.gz
vagrant/salt/ukmlib/files/ukmdev_dev_ss3.sql
vagrant/salt/ukmlib/files/ukmdev_dev_wp.sql
