<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SPConnectionFavorites</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>colorIndex</key>
					<integer>3</integer>
					<key>database</key>
					<string>ukmdev_dev_ss3</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-381858527934991749</integer>
					<key>name</key>
					<string>DEV SS3</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>ukm.dev</string>
					<key>sshKeyLocation</key>
					<string>~/Dev/ukm.no/vagrant/.vagrant/machines/main/virtualbox/private_key</string>
					<key>sshKeyLocationEnabled</key>
					<integer>1</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>vagrant</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>3</integer>
					<key>database</key>
					<string>ukmdelta_db</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-3314545110112722053</integer>
					<key>name</key>
					<string>DEV Delta</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>ukm.dev</string>
					<key>sshKeyLocation</key>
					<string>~/Dev/ukm.no/vagrant/.vagrant/machines/main/virtualbox/private_key</string>
					<key>sshKeyLocationEnabled</key>
					<integer>1</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>vagrant</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
				<dict>
					<key>colorIndex</key>
					<integer>3</integer>
					<key>database</key>
					<string>ukmdev_dev_wp</string>
					<key>host</key>
					<string>127.0.0.1</string>
					<key>id</key>
					<integer>-9030604495801212552</integer>
					<key>name</key>
					<string>DEV Wordpress</string>
					<key>port</key>
					<string></string>
					<key>socket</key>
					<string></string>
					<key>sshHost</key>
					<string>ukm.dev</string>
					<key>sshKeyLocation</key>
					<string>~/Dev/ukm.no/vagrant/.vagrant/machines/main/virtualbox/private_key</string>
					<key>sshKeyLocationEnabled</key>
					<integer>1</integer>
					<key>sshPort</key>
					<string></string>
					<key>sshUser</key>
					<string>vagrant</string>
					<key>sslCACertFileLocation</key>
					<string></string>
					<key>sslCACertFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslCertificateFileLocation</key>
					<string></string>
					<key>sslCertificateFileLocationEnabled</key>
					<integer>0</integer>
					<key>sslKeyFileLocation</key>
					<string></string>
					<key>sslKeyFileLocationEnabled</key>
					<integer>0</integer>
					<key>type</key>
					<integer>2</integer>
					<key>useSSL</key>
					<integer>0</integer>
					<key>user</key>
					<string>root</string>
				</dict>
			</array>
			<key>IsExpanded</key>
			<true/>
			<key>Name</key>
			<string>UKM DEV</string>
		</dict>
	</array>
</dict>
</plist>
